<!DOCTYPE html>

@using Microsoft.AspNet.Identity




<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Scripts.Render("~/bundles/modernizr")
    @if (Request.IsAuthenticated)
    {
        @Styles.Render("~/Content/css")

        <link rel="stylesheet" href="~/Content/style.css" media="screen" type="text/css" />
        <link href="~/Content/animate.css" rel="stylesheet">
        <link href="~/Content/font-awesome.css" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet">
        <link href="~/Content/bootstrap.css" rel="stylesheet">
    }
</head>
<body class="pace-done">



    @if (Request.IsAuthenticated)
    {
        @*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
            @Html.AntiForgeryToken()*@
        <div class="pace  pace-inactive">
            <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
                <div class="pace-progress-inner"></div>
            </div>
            <div class="pace-activity"></div>
        </div>
        <div id="wrapper">

            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header">

                            <div class="dropdown profile-element">
                                <span>
                                    <img alt="image" class="img-responsive" src="http://www.achievement.org/achievers/gat0/large/gat0-006.jpg">
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold">
                                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })


                                            </strong>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="logo-element">
                                IN+
                            </div>

                        </li>
                        <li class="active">
                            <a href="stockwallet"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Stock wallet</span></a>
                        </li>
                        <li>
                            <a href="stockwallet"><i class="fa fa-laptop"></i> <span class="nav-label">Stock wallet</span></a>
                        </li>
                        <li>
                            <a href="stockwallet"><i class="fa fa-laptop"></i> <span class="nav-label">Stock wallet</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Profile</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="graph_flot.html">Flot Charts</a></li>
                                <li><a href="graph_morris.html">Morris.js Charts</a></li>
                                <li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
                                <li><a href="graph_chartjs.html">Chart.js</a></li>
                                <li><a href="graph_peity.html">Peity Charts</a></li>
                                <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
                            </ul>
                        </li>




                    </ul>

                </div>
            </nav>
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">Welcome to Stock Trader</span>
                            </li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hide" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>

                            </li>
                        </ul>

                    </nav>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="row">
                        @RenderBody()

                    </div>
                </div>
            </div>

        </div>


    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
        @RenderBody()

    }



    <!-- Content panel -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
<script src="~/Scripts/jquery.metisMenu.js"></script>
<script src="~/Scripts/inspinia.js"></script>
