
@using StockTrader.Models
@using StockTrader.App_Start
@model StockTrader.Models.NewsForCompanies


@{
    Layout = null;
}
<div>

    <div class="col-md-6">
        <h2>@Model.CompanySymbol</h2>
    </div>
    @{if (!Model.IsObserve) { 
    <div id="observe-button" class='pull-right'>
        <button onclick=observe('@Model.CompanySymbol') class='btn btn-block no-rounded-btn btn-primary btn-lg' data-modal=''>Observe</button>
    </div>
    }
    }
</div>

<div class="col-md-12">


    <div class="tab-container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#1-day">1 day</a>
            </li>
            <li >
                <a data-toggle="tab" href="#5-day">5 day</a>
            </li>
            <li>
                <a data-toggle="tab" href="#1-month">1 month</a>
            </li>
            <li>
                <a data-toggle="tab" href="#3-month">3 month</a>
            </li>
            <li>
                <a data-toggle="tab" href="#1-year">1 year</a>
            </li>
            <li>
                <a data-toggle="tab" href="#5-year">5 year</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="1-day" class="tab-pane cont active">
                <img src="http://chart.finance.yahoo.com/z?s=@Model.CompanySymbol&t=1d">
            </div>

            <div id="5-day" class="tab-pane cont">
                <img src="http://chart.finance.yahoo.com/z?s=@Model.CompanySymbol&t=5d">
            </div>
            <div id="1-month" class="tab-pane cont">
                <img src="http://chart.finance.yahoo.com/z?s=@Model.CompanySymbol&t=1m">
            </div>
            <div id="3-month" class="tab-pane cont">
                <img src="http://chart.finance.yahoo.com/z?s=@Model.CompanySymbol&t=3m">
            </div>

            <div id="1-year" class="tab-pane cont">
                <img src="http://chart.finance.yahoo.com/z?s=@Model.CompanySymbol&t=1y">
            </div>
            <div id="5-year" class="tab-pane cont">
                <img src="http://chart.finance.yahoo.com/z?s=@Model.CompanySymbol&t=5y">
            </div>
        </div>
    </div>
   <div>
      
        <div class="col-md-1">
            <p>Last</p>
            <p>High</p>
            <p>Low</p>
        </div>
       <div class="col-md-5">
           <p>@Model.LastTradePriceOnly</p>
           <p>@Model.DaysHigh</p>
           <p>@Model.DaysLow</p>
       </div>
        <div class="col-md-2">
            <p>Market cap</p>
            <p>Change</p>
            <p>Volume</p>
        </div>
       <div class="col-md-4">
           <p>@Model.MarketCapitalization</p>
           <p>@Model.Change</p>
           <p>@Model.Volume</p>
       </div>
    </div> 


    
</div>
<div class="ibox-title">
    <h5>Daily news for company</h5>
</div>
<div class="ibox-content">
    <div class="feed-activity-list">
        @foreach (var item in Model.Company)
        {

            <div class="feed-element">
                <div>
                    <h2>
                        <a href="@item.Link"> <span class="nav-label">@item.Header </span></a>
                    </h2>

                    <span class="nav-label">@item.Description</span>
                </div>
                <small class="text-muted">@item.PubDate</small>
            </div>



        }
    </div>
</div>



<script>
    function observe(arg) {
        $("#observe-button").html('');
        $.ajax({
            type: 'POST',
            url: "/StockWallet/Create",
            data: { CompanySymbol: arg },
            success: function (data) {

            
            }
        });



    }
</script>



